body {
  text-align: center;
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  text-align: center;
}

#icon {
  font-size: 6em;
}

#generator-block {
  max-width: 100%;
  margin-bottom: 2em;
}

#generator, #errors {
  padding: 1em;
}

#generator {
  margin-bottom: 1em;
  width: 100%;
  max-width: 100%;
  float: left;
}

#top {
  margin: auto;
}

.device {
  display: inline-block;
  min-width: 50px;
  min-height: 30px;
  margin: 1em;
}

#detectedSKU {
  display: none;
}

.deviceNameBox {
  display: block;
  margin-bottom: 0.2em;
}

.deviceName {
  display: block;
  text-align: center;
  color: gray;
  font-size: 0.8em;
}

.mem16 {
  background-color: #d9534f;
}

.mem32 {
  background-color: #5cb85c;
}

.mem64 {
  background-color: #337ab7;
}

.mem128 {
  background-color: #f0ad4e;
}

.colorGold {
  background-color: #ffc94f;
  color: black;
}

.colorRoseGold {
  background-color: rgb(255, 151, 165);
  color: black;
}

.colorSilver {
  background-color: silver;
  color: black;
}

.colorSpaceGray {
  background-color: gray;
  color: white;
}
