body {
  text-align: center;
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#errors .panel-body {
  max-height: 10em;
  overflow-y: scroll;
}

#header {
  text-align: center;
}

#icon {
  font-size: 6em;
}

#generator-block {
  max-width: 100%;
  margin-bottom: 2em;
}

#generator, #errors {
  padding: 1em;
}

#generator {
  margin-bottom: 1em;
  width: 60%;
  max-width: 60%;
  float: left;
}

#errors {
  width: 40%;
  max-width: 40%;
  float: left;
}

#top {
  margin: auto;
}

.device {
  display: inline-block;
  min-width: 50px;
  min-height: 30px;
  margin: 1em;
}

#detectedSKU {
  display: none;
}

.deviceName {
  display: block;
  text-align: center;
  color: gray;
  font-size: 0.8em;
}
